<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usurio.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity android:name=".AmigosActivity"></activity>
        <activity android:name=".AvaliacaoActivity"></activity>
        <activity android:name=".BoxUsersActivity"></activity>
        <activity android:name=".CentrosActivity"></activity>
        <activity android:name=".CorpoAdminActivity"></activity>
        <activity android:name=".DadosCadastroActivity"></activity>
        <activity android:name=".EditarConteudoActivity"></activity>
        <activity android:name=".EscolhaLeituraActivity"></activity>
        <activity android:name=".EventosActivity"></activity>
        <activity android:name=".GuiaActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".OpcoesActivity"></activity>
        <activity android:name=".TelaAdminActivity"></activity>
        <activity android:name=".TelaUsuarioActivity"></activity>

    </application>

</manifest>

